font-face{
	font-family: 'Ultra';
	font-style: normal;
	font-weight: 700;
	src:local('Ultra'), url(ultra.ttf) format('truetype');
}
body{
	/*background: gray;*/
	background-image: url("images.jpg");
}
h2{
	font-family: 'Ultra';
	/*color: white;*/
}
div.contenedor{
	background:#40328a;
	/*b3eef7,5f3087 */
	width: 900px;

	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
header{
	background:#d71922;
	/**/
	/*padding-top: 30px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;*/
	margin:0 0 0 60px; /*arriba, abajo, derecha, izquierda*/
}

nav{
	background: yellow;
	height: 120px; /*para pixels*/
	width: 50%;
}
img.reputationVibora{
	width: 800px;
}

table{
	background: #edc731;
	height: 300px;
	width: 50%;
	/*margin-left: 30px;
	margin-bottom: 30px;*/
	margin-left: auto;
	margin-right: auto;

}
footer{
	background: #bf3279;
	width: 900px;

	margin-left: auto;
	margin-right: auto;
}
footer nav{
	background: : red;

}
p {
	color: white;
}
